<div class="padre-form">
    <h1 class="title">Crea Tu Receta:</h1>
    <hr>
<form #fRece="ngForm" class="form-estilo" (ngSubmit)="guardarReceta(fRece)">
    <div class="left-form">
        <div class="form-group row group-receta">
            <label class="label-receta" for="nombre">Nombre de la Receta:</label>
            <input type="text" class="form-control input-receta-largo" id="nombre" name="nombre" [(ngModel)]="recetaNew.nombre" required/>
            
        </div>
        <div class="form-group row group-receta">
            <label class="label-receta" for="duracion">Duración:</label>
            <input class="form-control" style="flex-basis: 10%; min-width: 60px;" type="number" min="0" step="5" placeholder="5" id="duracion" name="duracion" [(ngModel)]="recetaNew.duracion" required />
            <label class="label-receta">(minutos)</label>
        </div>
        <div class="form-group row group-receta">
            <label class="label-receta" for="dificultad">Dificultad: </label>
            <select class="form-select input-receta" id="dificultad" name="dificultad" [(ngModel)]="recetaNew.dificultad" required>
                <option value="Fácil">Fácil</option>
                <option value="Media" selected>Media</option>
                <option value="Difícil">Difícil</option>
            </select>
        </div>
        <div class="form-group row group-receta">
            <label class="label-receta" for="tipo">Tipo:</label>
            <select class="form-select input-receta" id="tipo" name="tipo" [(ngModel)]="recetaNew.tipo" required>
                <option value="" disabled selected>--Selecciona un tipo--</option>
                <option value="Desayuno">Desayuno</option>
                <option value="Almuerzo">Almuerzo</option>
                <option value="Cena">Cena</option>
                <option value="Aperitivo">Aperitivo</option>
                <option value="Postre">Postre</option>
                <option value="Comida Rápida">Comida Rápida</option>
                <option value="Bebida">Bebida</option>
            </select>
        </div>
        <div class="form-group row group-receta">
            <label class="label-receta" for="origen">Origen:</label>
            <input class="form-control input-receta" type="text" placeholder="España" id="origen" name="origen" [(ngModel)]="recetaNew.origen" required/>
            
        </div>
        <div class="form-group row">
            <label style="font-weight: bold; margin-bottom: 15px;" for="pasos">Pasos a seguir:</label>
            <textarea class="form-control input-pasos" style="resize: none;" type="text" placeholder="Describe los pasos a seguir para la realización de la Receta. (Hazlo usando frases concisas)" id="pasos" name="pasos" [(ngModel)]="recetaNew.instrucciones" required ></textarea>
        </div>
    </div>
    <div class="right-form">
        <div class="form-group row">
            <label style="font-weight: bold; margin-bottom: 15px;">Ingredientes con cantidad (Ingrediente, Cantidad y Unidad de medida):</label>
            <form #f="ngForm" class="form-ingre" (ngSubmit)="nuevoIngreConCantidad(f)" novalidate>
                <div class="form-group" style="flex-basis: 30%; min-width: 160px;">
                    <select class="form-select" id="ingreID" name="ingreID" [(ngModel)]="ingreID" required>
                        <option value="" disabled selected>--Selecciona un ingrediente--</option>
                        <option *ngFor=" let ingreSelect of ingreAll" value="{{ingreSelect.id}}">{{ingreSelect.nombre}}</option>
                    </select>
                </div>
                <div class="form-group" style="flex-basis: 13%; min-width: 60px;">
                    <input type="number" min="0" name="cantidad" class="form-control" id="cantidad" required [(ngModel)]="ingreCantidad">
                </div>
                <div class="form-group" style="flex-basis: 20%; min-width: 120px;">
                    <select class="form-select" id="medida" name="medida" [(ngModel)]="ingreMedida" required>
                        <option value="ml">ml</option>
                        <option value="oz">oz</option>
                        <option value="L">Litros</option>
                        <option value="g">gramos</option>
                        <option value="Kg">Kg</option>
                        <option value="Unidades" selected>Unidades</option>
                    </select>
                </div>
                <div class="form-group button-login">
                    <button class="btn btn-secondary">Añadir</button>
                </div>
            </form>
            <p *ngIf="ingreVacio">Error! Introduce completamente el ingrediente que quieres añadir</p>
            <div class="vacio">
                <div class="card ingredientes-card"*ngIf="ingreConCantidadArray.length > 0">
                    <ul class="list-group list-group-flush ">
                        <li class="list-group-item lista-ingre" *ngFor=" let ingreCanti of ingreConCantidadArray">
                            <p>{{ingreCanti.nombre}} {{ingreCanti.cantidad}} {{ingreCanti.unidadMedida}}</p>
                            <button class="btn btn-danger" (click)="eliminarIngreConCantidad(ingreCanti)"><i class="fa-solid fa-trash-can"></i></button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <ngx-dropzone (change)="onSelect($event)">
            <ngx-dropzone-label>Arrastra tu imagen aquí!</ngx-dropzone-label>
            <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of imagenes" [file]="f" [removable]="true" (removed)="onRemove(f)">
                <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
            </ngx-dropzone-image-preview>
        </ngx-dropzone>
        <div class="actions-receta">
            <button class="btn btn-danger" (click)="goBack()">Cancelar</button>
            <button class="btn btn-primary" (click)="subirImagen()">Subir Imagen</button>
            <button type="submit" class="btn btn-success" [disabled]="!imagenSubida">CREAR RECETA</button>
        </div>
    </div>
</form>
</div>
