<div class="admin-table">
<table class="table table-hover">
    <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">NOMBRE DEL USUARIO</th>
          <th scope="col">EMAIL DEL USUARIO</th>
          <th scope="col">ROLES DEL USUARIO</th>
          <th scope="col">ACCIONES</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let usuario of usuarios">
          <td>{{usuario.id}}</td>
          <td>{{usuario.username}}</td>
          <td>{{usuario.email}}</td>
          <td><label *ngFor="let rol of usuario.roles; let last = last">{{rol.nombre}}<span *ngIf="!last" class="separator">,</span></label></td>
          <td class="actions-table">
            <button class="btn btn-secondary" (click)="buscarUsuarioAEditar(usuario.id!)" type="button" data-bs-toggle="modal" data-bs-target="#usuarioModal"><i class="fa-solid fa-pencil"></i></button>
            <button class="btn btn-danger" (click)="eliminarUsuario(usuario.id!)"><i class="fa-solid fa-trash-can"></i></button>
          </td>
        </tr>
      </tbody>
</table>
</div>
<div class="modal fade" id="usuarioModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="usuarioModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Editar Usuario</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form #fUsu="ngForm" (ngSubmit)="editarUsuario(fUsu)">
      <div class="modal-body">
        
          <div class="mb-3">
            <label for="username" class="col-form-label">Username:</label>
            <input type="text" class="form-control" id="username" name="username" [(ngModel)]="usuarioAEditar.username" required>
          </div>
          <div class="mb-3">
            <label for="email" class="col-form-label">Email:</label>
            <input type="text" class="form-control" id="email" name="email" [(ngModel)]="usuarioAEditar.email" required>
          </div>
          <label class="col-form-label">Roles:</label>
          <div style="display: flex; min-height: 50px; gap: 5px; align-items: center;" *ngFor=" let rol of rolesUsuarioArray">
            <p style="margin: 0;">{{rol.nombre}}</p>
            <button class="btn btn-danger" (click)="eliminarRol(rol)"><i class="fa-solid fa-trash-can"></i></button>
          </div>
          <form #f="ngForm" class="form" (ngSubmit)="nuevoRol(f)" novalidate>
              <div class="form-group">
                <select class="form-control" id="rolID" name="rolID" [(ngModel)]="rolID" required>
                    <option value="" disabled selected>--Selecciona un rol--</option>
                    <option *ngFor=" let rolSelect of rolesAll" value="{{rolSelect.id}}">{{rolSelect.nombre}}</option>
                </select>
              </div>
              <div class="form-group button-login">
                <button class="btn btn-success">Añadir</button>
              </div>
          </form>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="submit" class="btn btn-primary">Actualizar Usuario</button>
      </div>
    </form>
    </div>
  </div>
</div>