*{
    margin: 8px;
    padding: 8px;
}

.login-component{
    background-color: var(--verde-fondo);
    margin: 0;
}

h2{
    color: var(--negro);
}

#login{
    max-width: 600px!important;
}

form{
    border: 1px solid var(--blanco);
    background-color: var(--verde-tarjeta);
    display: flex;
    flex-direction: column;
}
.form-icono{
    text-align: center;
    margin: 0;
    padding: 0;
    color: var(--negro);
}

    .form-icono i{
        font-size: 60px;
    }

.button-login{
    width: 400px;
}

.button-login button{
    margin: 0;
}

.input-style{
    margin: 0;
    padding-left: 5px;
}

.tarjetas-preguntas{
    display: flex;
    flex-flow: column wrap;
    column-gap: 15px;
}
    .tarjeta-pregunta-card{
        flex: 1 1 30%;
        background-color: var(--verde-tarjeta);
        padding: 0;
        border: 1px solid var(--blanco);
        box-shadow: 0px 0px 10px 0px var(--negro);
    }
        .pregunta{
            display: flex;
            margin: 10px;
            padding: 10px;
        }

            .pregunta i{
                margin: 0;
                padding: 0;
                color: var(--negro);
                font-size: 40px;
                text-align: right;
            }

            .pregunta h4{
                margin-top: 0;
                margin-bottom: 0;
                color: var(--negro);
            }
        .tarjeta-respuesta{
            margin: 0;
            display: none;
            background-color: var(--verde-claro);
            color: var(--negro);
        }