<div class="buscador">
    <h1 class="title">Busqueda: <span style="font-style: italic;">"{{termino}}"</span></h1>
    <hr>
    <div class="" *ngIf="recetas.length == 0">
        <div class=" col-md-12">
        <div class="alert alert-warning" role="alert">
            <h1>Oops lo sentimos, no se ha encontrado esa receta</h1>
        </div>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-4 buscador-card">
        <app-receta-card class="receta-card" *ngFor="let receta of recetas; let i = index" [receta]="receta" [index]="receta.id" (recetaSelected)="verReceta($event)"></app-receta-card>
    </div>
</div>