<table class="table table-hover">
    <thead>
        <tr>
          <th>ID</th>
          <th>NOMBRE DE LA RECETA</th>
          <th>TIPO DE LA RECETA</th>
          <th>USUARIO DE LA RECETA</th>
          <th>ACCIONES</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let receta of recetas">
          <td>{{receta.id}}</td>
          <td>{{receta.nombre}}</td>
          <td>{{receta.tipo}}</td>
          <td>{{receta.usuario!.username}}</td>
          <td>
            <button class="btn btn-primary" (click)="verReceta(receta.id!)" type="button"><i class="fa-solid fa-eye"></i></button>
            <button class="btn btn-secondary" (click)="recetaAEditar(receta.id!)" type="button"><i class="fa-solid fa-pencil"></i></button>
            <button class="btn btn-danger" (click)="eliminarReceta(receta.id!)"><i class="fa-solid fa-trash-can"></i></button>
          </td>
        </tr>
      </tbody>
</table>