<div class="card receta-card">
    <img [src]="receta?.urlImagen" class="card-img-top img-card" alt="{{receta?.nombre}}">
    <div class="card-body">
        <h2 class="card-title">{{receta?.nombre}}</h2>
        <p class="card-text"><i class="fa-regular fa-clock"></i> {{receta?.duracion}} min. | <i class="fa-regular fa-flag"></i> {{receta?.origen}} | <i class="fa-solid fa-plate-wheat"></i> {{receta?.tipo}} | <i class="fa-regular fa-star"></i> {{receta?.valoracion}}</p>
        <p class="card-text text-truncated">{{ (receta?.instrucciones!.length>150)? (receta?.instrucciones | slice:0:150)+'...':(receta?.instrucciones) }}</p>
    </div>
    <div class="card-footer">
        <small><i class="fa-solid fa-gauge-simple-high"></i> {{receta?.dificultad}} | {{receta?.fecha | date}} <i class="fa-regular fa-calendar"></i> | <i class="fa-regular fa-user"></i> {{receta?.usuario?.username}}</small>
    </div>
    <div class="receta-boton">
        <button type="button" class="btn btn-outline-primary btn-block" (click)="verReceta()"><i class="fa-solid fa-eye"></i> Ver receta</button>
    </div>
</div>