<div class="footer">
    <div class="container">
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3">
          <div class="col-md-4 d-flex align-items-center">
            <a href="/home" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1 texto-negro">
                <i class="fa-solid fa-utensils"></i>
            </a>
            <span class="mb-3 mb-md-0 text-body-secondary texto-negro">© 2023 La Espátula, Inc</span>
          </div>
      
          <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
            <li class="ms-3"><a class="text-body-secondary texto-negro"><i class="fa-brands fa-twitter"></i></a></li>
            <li class="ms-3"><a class="text-body-secondary texto-negro"><i class="fa-brands fa-instagram"></i></a></li>
            <li class="ms-3"><a class="text-body-secondary texto-negro"><i class="fa-brands fa-facebook"></i></a></li>
          </ul>
        </footer>
      </div>
</div>